<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lib.Harmony" version="1.2.0.1" targetFramework="net35" />
  <package id="UnlimitedHugs.Rimworld.HugsLib" version="6.1.1" targetFramework="net35" />
  <package id="UnlimitedHugs.Rimworld.HugsLibChecker" version="5.0.0" targetFramework="net35" />
</packages>